body{
background-image:url('/static/img/calendar.jpg');
background-size: 100%;
padding-bottom: 30vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height:100%;



/* background-color: black; */
}

.container {
  width:80%;
  color:black;
  font-family: 'Rajdhani', sans-serif;
  opacity:0.8;
  margin-bottom: -10vh;
  font-size: 3vh;
  margin-top: -1vh;
  height:7%;

}

h1{

    background: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 6em;
    color: grey;
    margin-top: 8vh;
    margin-left: 20vw;
    border-color: grey;
    padding-bottom: 9vh;

}

#quick_form{
  font-size: 7rem;
}
input[type="text"]
{
  font-size: 20px;
}
textarea{
  font-size: 1rem;
}
