body{
background-image:url('/static/img/downtime.jpg');
background-size: 20%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;


/* background-color: black; */
}

.section section-header{
  padding-top: 10vh;
}
h1{
  background: none;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15em;
  color: grey;
  padding-top: 25vh;
  padding-left: 10vw;
  border-color: grey;

}
