{% extends 'base.html'%}

{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/events.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">


{% endblock %}


<!-- Content block -->
{% block content %}

<div class="title">
  <h1>DOWNTIME</h1>
</div>


      <div class="section section-header">
          <div class="parallax filter filter-color-red">
              <div class="container">
                  <div class="content">
                      <div class="title-area">
                            <div class="container">
                            {{ wtf.quick_form(events_form) }}
                          </div>







                      </div>
                  </div>
              </div>
          </div>
      </div>



{% endblock %}
