{% extends 'base.html'%}

{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">


{% endblock %}


<!-- Content block -->
{% block content %}


      <div class="section section-header">
          <div class="parallax filter filter-color-red">
              <div class="container">
                  <div class="content">
                      <div class="title-area">

                          <h1 class="title-modern" style="font-size:5vh;color:black">Never forget another event</h1>
                          <h3 style="font-size:4vh;color:black;opacity:0.5;text-decoration: underline">Lets set you up!</h2>

                            {{ wtf.quick_form(events_form) }}







                      </div>
                  </div>
              </div>
          </div>
      </div>



{% endblock %}
