<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-secondary" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">


                <ul class="nav navbar-nav navbar-right">

                      <li><a href="/">HOME</a></li>
                      <li><a href="/calendar">CALENDAR</a></li>

                      {% if current_user.is_anonymous%}
                      <li><a href="/authenticate/login">SIGN IN</a></li>
                      {%else%}
                      <li><a href="/display">YOUR EVENTS</a></li>
                      <li><a href="/authenticate/logout">SIGN OUT</a></li>
                      {%endif%}


                </ul>
            </div>

        </div>
    </div>
  </body>
</html>
